[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework = "*"
graphene = "*"
graphene-django = "*"
pre-commit = "*"
django-allauth = "*"
jinja2 = "*"
django-mptt = "*"

[requires]
python_version = "3.7"
