{% load mptt_tags %}
<html>
    <body>
    {% if user.is_authenticated %}
    <h2>Character Sheet for {{ user.username }}</h2>
    <h3>Character Name: {{ character.full_name }}</h3>
    <p>Character Points Spent: {{character.cp_spent}}</p>
    <p>Character Points Remaining: {{character.cp_remaining}}</p>
    <p>Events Attended: {{character.events_attended}}</p>

    <h3>Skills</h3>
    <ul>
        {% recursetree skills %}
        <li>{{node.name}} - {{node.cost}} CP
            {% if not node.is_leaf_node %}
            <ul class="children">
                {{children}}
            </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
      </ul>
    <h4>Warrior</h4>

    <h4>Mage</h4>

    <h4>Rogue</h4>

    <h4>Alchemist</h4>

    <h4>Ritualist</h4>

    <h4>Blood Mage <span>(must be acquired in game)</span></h4>

    <h3>Purchased Skills</h3>
    <ul>
        {% for skill in my_skills%}
        <li>{{skill.name}} - {{skill.cost}} CP
        </li>
        {% endfor %}
    </ul>

    {% endif %}
    </body>
</html>
